# compiled output
dist
dist-types
node_modules

# Yarn
# see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored=
**/.pnp.*
**/.yarn/*
./apps/**/yarn.lock
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Typescript
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# OS
.DS_Store
.AppleDouble
.LSOverride
*~
._*

# Unit tests and coverage
**/coverage
/.nyc_output
*.lcov
playwright-report/
playwright/.cache/

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# CI / CD
.terraform
.terraform.lock.hcl
**/terraform.tfstate.d
**/.terraform.locl.hcl

# Local
gcp-credentials.json
.env
.env.*
!.env.dist
!.env.test

# Packer
packer_cache
output-virtualbox-iso

# Tooling
.pfwd-state

# Devops Stuff
*gcp-token.json*
