.env
dist/
vendor/
prestashop/
.cache/
node_modules/

# Composer
composer.phar
/vendor/
.env
.php_cs.cache
.php_cs
install.lock
composer-setup.php

# Mac OS
.DS_Store

# Tests
tests/tmp
tests/.phpunit.result.cache
allure-report
