### VUEJS BUILD ARTEFACT ###
app.js

### IDE ###
.idea

### Composer ###
composer.phar
/vendor/
node_modules/
docker-compose.override.yml
.env
.php_cs.cache
.php_cs
install.lock
composer-dev.json
composer-dev.lock

### Module files ###
!views/files
views/files/*
!views/files/.gitkeep

### Vuejs ignore build files ###
/views/js/app.js
/views/js/app.js.map
/views/js/chunk-vendors.js
/views/js/chunk-vendors.js.map
/views/css/index.css
/views/css/chunk-vendors.css
/views/favicon.ico
/views/index.html

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
