<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ps_eventbus</name>
    <displayName><![CDATA[PrestaShop Eventbus]]></displayName>
    <version><![CDATA[2.3.2]]></version>
    <description><![CDATA[Link your PrestaShop account to synchronize your shop data to a tech partner of your choice. Do not uninstall this module if you are already using a service, as it will prevent it from working.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[administration]]></tab>
    <confirmUninstall><![CDATA[This action will immediately prevent your PrestaShop services and Community services from working as they are using PrestaShop CloudSync for syncing.]]></confirmUninstall>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>
