<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true" stopOnFailure="false">
    <testsuites>
        <testsuite name="Ps eventbus Tests">
            <directory suffix="Test.php">./tests/unit</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="Yandex\Allure\PhpUnit\AllurePhpUnit" file="vendor/allure-framework/allure-phpunit/src/Yandex/Allure/PhpUnit/AllurePhpUnit.php">
            <arguments>
                <string>build/allure-results</string> <!-- XML files output directory -->
                <boolean>true</boolean> <!-- Whether to delete previous results on rerun -->
            </arguments>
        </listener>
    </listeners>
</phpunit>
