includes:
	- %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon
parameters:
	checkMissingIterableValueType: false
	reportUnmatchedIgnoredErrors: false
	paths:
		- ../../src
		- ../../controllers
		- ../../ps_eventbus.php
	dynamicConstantNames:
		- _PS_VERSION_
	ignoreErrors:
		- '#Property TabCore::\$name \(string\) does not accept array.#'
		- '#Parameter \#1 \$value of method ControllerCore::ajaxDie\(\) expects string\|null, string\|false given.#'
		- '#Parameter \#4 \$ssl of method LinkCore::getModuleLink\(\) expects null, true given.#'
		- '#Parameter \#6 \$idShop of method LinkCore::getModuleLink\(\) expects null, int given.#'
		- '#Parameter \#1 \$json of function json_decode expects string, string\|false given.#'
		- '#Parameter \#2 \$message of method PrestaShop\\Module\\PsEventbus\\WebHook\\Validator::getError\(\) expects string, string\|false given.#'
		- '#Parameter \#1 \$hook_name of method ModuleCore::registerHook\(\) expects string, array given.#'
		- '#Access to an undefined property AdminController\|FrontController::\$controller_name.#'
		- '#Call to static method getAvailable\(\) on an unknown class Theme.#'
		- '#Call to static method getByDirectory\(\) on an unknown class Theme.#'
		- '#Call to static method getThemeInfo\(\) on an unknown class Theme.#'
		- '#Access to an undefined property Context::\$theme.#'
		- '#Access to an undefined property Shop::\$theme.#'
		- '#Call to method buildRepository\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Addon\\Theme\\ThemeManagerBuilder.#'
		- '#Instantiated class PrestaShop\\PrestaShop\\Core\\Addon\\Theme\\ThemeManagerBuilder not found.#'
		- '#Property Ps_eventbus::\$serviceContainer has unknown class PrestaShop\\ModuleLibServiceContainer\\DependencyInjection\\ServiceContainer as its type.#'
		- '#Instantiated class PrestaShop\\ModuleLibServiceContainer\\DependencyInjection\\ServiceContainer not found.#'
		- '#Call to method getService\(\) on an unknown class PrestaShop\\ModuleLibServiceContainer\\DependencyInjection\\ServiceContainer.#'
		- '#Parameter \#1 \$id of class Currency constructor expects null, string given.#'
		- '#Static method ConfigurationCore::get\(\) invoked with 5 parameters, 1-4 required.#'
		- '#Parameter \#1 \$id of class Currency constructor expects null, bool\|string given.#'
		- '#Property PrestaShop\\Module\\PsEventbus\\Controller\\AbstractApiController::\$psAccountsService has unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService as its type.#'
		- '#Call to method getOrRefreshToken\(\) on an unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService.#'
		- '#Property PrestaShop\\Module\\PsEventbus\\Repository\\ServerInformationRepository::\$psAccountsService has unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService as its type.#'


	level: 5
