includes:
  - %currentWorkingDirectory%/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../src
    - ../../controllers
    - ../../config
    - ../../ps_eventbus.php
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Property [a-zA-Z0-9\\_:]+\$psAccountsService has unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService as its type.#'
    - '#Call to method getOrRefreshToken\(\) on an unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService.#'
    - '#Instantiated class Symfony\\Component\\Cache\\Adapter\\FilesystemAdapter not found.#'
    - '#Call to method getItem\(\) on an unknown class Symfony\\Component\\Cache\\Adapter\\FilesystemAdapter.#'
    - '#Call to method save\(\) on an unknown class Symfony\\Component\\Cache\\Adapter\\FilesystemAdapter.#'
    - '#Property ContextCore::\$employee \(Employee\) in isset\(\) is not nullable.#'
    - '#Access to an undefined property Context::\$theme.#'

  level: 5
