includes:
  - %currentWorkingDirectory%/tools/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
  paths:
    - ../../src
    - ../../controllers
    - ../../config
    - ../../ps_eventbus.php
  reportUnmatchedIgnoredErrors: false
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Property [a-zA-Z0-9\\_:]+\$psAccountsService has unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService as its type.#'
    - '#Call to method getOrRefreshToken\(\) on an unknown class PrestaShop\\AccountsAuth\\Service\\PsAccountsService.#'
    - '#Instantiated class Symfony\\Component\\Cache\\Adapter\\FilesystemAdapter not found.#'
    - '#Call to method getItem\(\) on an unknown class Symfony\\Component\\Cache\\Adapter\\FilesystemAdapter.#'
    - '#Call to method save\(\) on an unknown class Symfony\\Component\\Cache\\Adapter\\FilesystemAdapter.#'
    - '#Property ContextCore::\$employee \(Employee\) in isset\(\) is not nullable.#'
    - '#Access to an undefined property Context::\$theme.#'
    - '#Cannot call method getOrRefreshToken\(\) on mixed.#'
    - '#Cannot call method getMetadata\(\) on mixed.#'
    - '#Method PrestaShop\\Module\\PsEventbus\\Api\\Post\\PostFileApi::getContent\(\) should return Psr\\Http\\Message\\StreamInterface but returns mixed.#'
    - '#Property PrestaShop\\Module\\PsEventbus\\Controller\\AbstractApiController::[a-zA-Z0-9\\_\$\(\) ]+ does not accept mixed.#'
    - '#Cannot call method getShopUuid\(\) on mixed.#'
    - '#Cannot call method getPsAccountsService\(\) on mixed.#'
    - '#Cannot call method handle\(\) on mixed.#'
    - '#Cannot access property [a-z\$]+ on Context\|null.#'
    - '#Property [a-zA-Z0-9\\_:]+\$psAccountsService \(PrestaShop\\AccountsAuth\\Service\\PsAccountsService\) does not accept mixed.#'
    - '#Parameter \#2 \$currency of static method ToolsCore::convertPrice\(\) expects array\|object\|null, [a-z0-9<>,-\| ]+ given.#'
    - '#Method PrestaShop\\Module\\PsEventbus\\Service\\SpecificPriceService::priceCalculation\(\) never returns void so it can be removed from the return type.#'
    - '#Property PrestaShop\\Module\\PsEventbus\\Api\\Post\\Stream::\$stream \(resource\) does not accept null.#'
    - '#Cannot call method prepare\(\) on mysqli\|PDO\|resource.#'
    - '#Cannot call method bindParam\(\) on mysqli_stmt\|PDOStatement\|false.#'
    - '#Cannot call method execute\(\) on mysqli_stmt\|PDOStatement\|false.#'
    - '#Parameter \#1 \$restriction of method DbQueryCore::where\(\) expects string, int\|string given.#'
    - '#Method PrestaShop\\Module\\PsEventbus\\Repository\\MerchantConsentRepository::getConsentByShopId\(\) should return array but returns array\|mysqli_result\|PDOStatement\|resource\|false\|null.#'
    - '#Property PrestaShop\\Module\\PsEventbus\\Api\\Post\\MultipartBody::\$stream is never read, only written.#'
    - '#Caught class GuzzleHttp\\Ring\\Exception\\ConnectException not found#'
    - '#Call to method getMessage\(\) on an unknown class GuzzleHttp\\Ring\\Exception\\ConnectException.#'
  level: 9
