<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" colors="true" executionOrder="random" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Ps eventbus Tests">
      <directory>./unit</directory>
    </testsuite>
   <!--  <testsuite name="E2E">
      <directory>./e2e</directory>
    </testsuite> -->
   <!--  <testsuite name="Synchronization">
      <directory>./System/Tests/Synchronization</directory>
    </testsuite>
    <testsuite name="Providers">
      <directory>./System/Tests/Provider</directory>
    </testsuite> -->
  </testsuites>
</phpunit>
