{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": false,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": false,
      "dynamicImport": false
    },
    "target": "es2022",
    "baseUrl": "./src"
  },
  "module": {
    "type": "es6"
  },
  "minify": false
}
