# Infrastructure dependencies
DOCKER_VERSION_MARIADB=latest
DOCKER_VERSION_NGROK=alpine
DOCKER_VERSION_PRESTASHOP=8.0.1-apache

# Infrastructure port binding on the host
HOST_PORT_BIND_PRESTASHOP=8000
HOST_PORT_BIND_MYSQL=3306
HOST_PORT_BIND_PHP_MY_ADMIN=6060
HOST_PORT_BIND_NGROK=4040

# Services tokens and credentials
GITHUB_API_TOKEN=xxxxxxx
NGROK_TOKEN=xxxxxxx
PS_ACCOUNTS_PWD=xxxxxxx
PS_ACCOUNTS_USER=xxxxxxx

PS_ACCOUNTS_VERSION=v6.0.5